.android{
	width: 150px;
	margin:auto;
}
#head{
	width: 120px;

}
.antenna{
	width: 80px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin: 0px 20px -15px 20px;
}
.ant_l{
	background-color: green;
	border-radius: 10px;
	height: 30px;
	width: 5px;
	margin-left: 25px;
	transform: rotate(-40deg);
	animation: rotation-l 2s infinite linear;
}
@keyframes rotation-l {
  from {
    transform: rotate(-50deg);
    transform: translateX(px);
    transform: translateY(px);
  }
  to {
    transform: rotate(10deg);
  }
}
.ant_r{
	background-color: green;
	border-radius: 10px;
	height: 30px;
	width: 5px;
	margin-left: 35px;
	transform: rotate(40deg);
	animation: rotation-r 2s infinite linear;
}
@keyframes rotation-r {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.eyes{
	width: 80px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:;
}
.eye_l{
	background-color: white;
	border-radius: 10px;
	height: 10px;
	width: 10px;
	margin: 15px;
	animation: blinker 1s infinite linear;
}
.eye_r{
	background-color: white;
	border-radius: 10px;
	height: 10px;
	width: 10px;
	margin: 15px;
	animation: blinker 1s infinite linear;
}
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.head{
	border: solid green;
	background-color: green;
	border-radius: 100px 100px 0 0;
	height: 35px;
	width: 80px;
	margin: auto 30px;
}
#body{
	width: 120px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin:;
}
#body .abdomen{
	border: solid green;
	background-color: green;
	border-radius:0 0 10px 10px;
	height: 70px;
	width: 80px;
	margin: 5px auto;
}

#body .limbs{
	border: solid green;
	background-color: green;
	border-radius:10px 10px 10px 10px;
	height: 60px;
	width: 15px;
	margin: 10px 5px ; 
}
#limb_l:hover{
	margin: 0px 5px ;
	transform: rotate(45deg)	

}
#limb_r:hover{
	margin: 0px 5px ;
	transform: rotate(-45deg)
}
#legs{
	width: 120px;
	display:grid;
	margin-top: -20px;
	grid-template-columns: 1fr 1fr;
}
#legs .leg_l{
	border: solid green;
	background-color: green;
	border-radius:10px 10px 10px 10px;
	height: 50px;
	width: 15px;
	margin: 0 15px 0 38px;
}
#legs .leg_r{
	border: solid green;
	background-color: green;
	border-radius:10px 10px 10px 10px;
	height: 50px;
	width: 15px;
	margin: 0 38px 0 15px; 
}